<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<div class ="kw_header_body">
    <!--
    <div class="kw_header_img">
        <img src="assets/images/pixel_tree_by_tea_hee_d72rbwh.gif" alt="Logo">
    </div>
    -->
    <div class="kw_header">
        <div class ="kw_header_h1">
            Garden Nexus
        </div>
    </div>

    <!-- Top navigation -->
    <div class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="/" class="active">Home</a>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
          <a href="/about">About</a>
    </div>
    <div style="padding-left:16px"></div>
</div>

</html>
